
.empty{
    background: green;
    width: 300px;
    height: 170px;
    display: inline-block;
    float: left;
    transform: skew(-45deg);
    margin-left: -180px;
}
.freddyButton{
    background: orange;
    width: 300px;
    height: 170px;
    display: inline-block;
    float: left;
    transform: skew(-45deg);
    margin-left: 25px;
    }
    
    
    .NullButton{
    background: black;
    width: 300px;
    height: 170px;
    display: inline-block;
    float: left;
    transform: skew(-45deg);
    margin-left: 25px;
    }
    
  .Null1Button{
    background: brown;
    width: 300px;
    height: 170px;
    display: inline-block;
    float: left;
    margin-left: 25px;
    transform: skew(-45deg);

    }
    .empty1{
        background: red;
    width: 300px;
    height: 170px;
    display: inline-block;
    float: right;
    margin-right: -160px;
    transform: skew(-45deg);
    }

.Choise_menu{
    height: 150%;
    background: linear-gradient(to top left, powderblue, pink);
    
}
